<!--
  Generated template for the TrackingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Tracking</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list inset>
        <button ion-item *ngFor="let item of history" (click)="initializeHistory(item)">
          {{ item }}
        </button> 
    </ion-list>
</ion-content>
