<!--
  Generated template for the TrackDetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <ion-title>Detail</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content padding>
    <div id="profilePic">
      <img src="{{img}}" width="45%" height="45%" />
    </div>
    <div id="profileDet">
      <h2 style="font-size:28px">id: {{ id }}</h2>
      <p>Sender: {{ sender }}</p><hr/>
      <p>Receiver: {{  receiver  }}</p><hr/>
      <p>Weight: {{  weight  }}</p><hr/>
    </div>
  </ion-content>
