page-profile {
    #profilePic {
        display: flex;
        flex: 1;
        justify-content: center;
        margin: 5%;
    }
    #profileDet {
        text-align: center;
        font-size: 18px;
    }
}
