<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div id="profilePic">
    <img src="../../assets/imgs/boss.png" width="45%" height="45%" />
  </div>
  <div id="profileDet">
    <h2 style="font-size:28px">Example Man</h2><hr/>
    <p>example@example.com</p><hr/>
    <p>000-000-0000</p><hr/>
  </div>
</ion-content>