page-home {
    ion-header {
        background-color: aqua;
    }
    ion-slides {
        height: 70%;
        margin-top: 6%;
    }
    ion-footer {
        height: 15%;
    }
    #footer-but {
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: center;
        margin: 5%;
        text-align: center;
    }
}
