<ion-header>
  <ion-navbar color='secondary'>
    <ion-title>Fast Express</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding no-bounce>
  <ion-toolbar color='secondary'>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only (click)='onSearch()'>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <ion-slides pager autoplay='3000' loop='true'>

    <ion-slide style="background-color: green">
      <img src="../../assets/imgs/ad1.png" width="100%">
    </ion-slide>

    <ion-slide style="background-color: blue">
        <img src="../../assets/imgs/ad2.png" width="100%">
    </ion-slide>

  </ion-slides>
  <div id="footer-but">
    <div style="margin-left: 5%;margin-right: 5%">
      <button large ion-button icon-only color="secondary" (click)='toBookingPage()'>
        <ion-icon name="cube"></ion-icon>
      </button>
      <div>Order</div>
    </div>
    <div style="margin-left: 5%;margin-right: 5%">
      <button large ion-button icon-only color="secondary" (click)='toTrackingPage()'>
        <ion-icon name="time"></ion-icon>
      </button>
      <div>Record</div>
    </div>
    <div style="margin-left: 5%;margin-right: 5%">
      <button large ion-button icon-only color="secondary" (click)='toGmapPage()'>
        <ion-icon name="pin"></ion-icon>
      </button>
      <div>Location</div>
    </div>
    <div style="margin-left: 5%;margin-right: 5%">
      <button large ion-button icon-only color="secondary" (click)='toProfilePage()'>
        <ion-icon name="contact"></ion-icon>
      </button>
      <div>Profile</div>
    </div>
  </div>
</ion-content>